html, body {
  height: 100%;
}

.wrapper {
  @include outer-container;
  min-height: 100%;
}

main {
  @include span-columns(6);
  @include shift(3);
  overflow: auto;
  padding-bottom: $footer-height;
}

.about-title {
  text-align: center;
}
