html, body {
  height: 100%;
}

.wrapper {
  @include outer-container;
  min-height: 100%;
}


main {
  @include span-columns(8);
  @include shift(2);
  overflow: auto;
  padding-bottom: $footer-height;
}

@media (max-width: 768px) {
  main {
    @include span-columns(10);
    @include shift(1);
  }
}

.about-title {
  text-align: center;
}

pre {
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  font-size: .9em;

  code {
    left: -70px;
    position: relative;
  }
}
