---
title: Articles on Web Development with Elixir and Phoenix
---

<% blog.articles.each do |article| %>
  <div class="article-entry">
    <time>
      <%= article.date.strftime("%b %e, %Y") %>
    </time>
    <h2 class="article-title">
      <%= link_to article.title, article.url %>
    </h2>
    <ul class="article-tag-list">
      <% article.tags.each do |tag| %>
        <li class="article-tag">
          <%= link_to tag, tag_path(tag) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
