---
title: Articles on Web Development with Elixir and Phoenix
---

- blog.articles.each do |article|
  .article-entry
    %time= article.date.strftime("%b %e, %Y")
    %h2.article-title
      = link_to article.title, article
    %ul.article-tag-list
      - article.tags.each do |tag|
        %li.article-tag
          = link_to tag, tag_path(tag)
