---
title: Gabriel Jaldon on Elixir
---

<article>
  <h1 class="about-title">
    <div class="avatar">
      <%= image_tag "avatar.png" %>
    </div>
    Hi, I'm Gabriel Jaldon
  </h1>
  <hr/>
  <p>
    I have been working professionally with Elixir since the start of 2015.
    This blog is where I share thoughts and learnings on Elixir, web development,
    distributed systems and programming in general.
  </p>
  <p>
    If you happen to be looking for an Elixir developer with production experience,
    feel free to reach out to me at gjaldon85 (at) gmail (dot) com.
  </p>
</article>
