<div class="article-entry">
  <% blog.articles.each do |article| %>
    <time><%= article.date.strftime("%b %e, %Y") %></time>
    <h2 class="article-title">
      <%= link_to article.title, article %>
    </h2>
  <% end %>
</div>
